version: '3.8'
services:
  jenkins_master:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    environment:
      - TZ=Australia/Darwin
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - jenkins_data:/var/jenkins_home
    ports:
      - 8080:8080
      - 50000:50000

volumes:
 jenkins_data:
